%h1{ style: "text-align: center;" } Admin Report

%h2{ style: "text-align: center;" } Sales Chart
%img{ src: sales_chart, alt: "Sales Chart", style: "width:100%; height:auto;" }

%h2{ style: "text-align: center;" } Monthly Category Sales
%img{ src: category_sales_chart, alt: "Monthly Category Sales", style: "width:100%; height:auto;" }

%h2{ style: "text-align: center;" } Current Month Category Sales
%img{ src: donut_chart, alt: "Current Month Category Sales", style: "width:100%; height:auto;" }

%h2{ style: "text-align: center;" } Category Totals
%img{ src: category_totals_chart, alt: "Category Totals", style: "width:100%; height:auto;" }