<div style="text-align: center">
<div class="app-color" style="margin-bottom: 300px
">
  <h1> Shearwater </h1>
</div>

<div class="app-color" style=" margin-bottom: 370px">
  <h1> You have gone out of bound</h1>
  <h2> Please turn back</h2>
  <h3> Thank you</h3>
  <h4> If you are an admin, please refer to the supervisor to reset password</h4>
</div>

<div class="app-color">
  Dev please fix this or someone getting fired
</div>
</div>