%div{:style => "text-align: center"}
  .app-color{:style => "margin-bottom: 300px\n"}
    %h1 Shearwater
  .app-color{:style => " margin-bottom: 370px"}
    %h1 You have gone out of bound
    %h2 Please turn back
    %h3 Thank you
    %h4 If you are an admin, please refer to the supervisor to reset password
  .app-color
    Dev please fix this or someone getting fired
